.iconic-user-fields {
  margin-left: 1px;
  a {
      margin-right: 2px;
  }
  .fa {
      font-size: 1.1em;
      color: #{$icon-color};
      &:hover {
        color: var(--tertiary);
      }
  }
}
